@font-face {
    font-family: 'MyFont';
    src: url(./cafe-francoise.otf),
    url(./pretty-good.ttf);
    font-style: normal;
    font-weight: 500;
}

body {
    background-color: antiquewhite;
}

h1 {
    text-align: center;
    font-family: 'MyFont';
    letter-spacing: 2.5px;
    font-size: 74px;
}

p {
    text-align: center;
    font-size: 22px;
    letter-spacing: 0.5px;
}

.foodImg {
    margin-top: 30px;
    height: 450px;
    border-radius: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}