@font-face {
    font-family: 'MyFont';
    src: url(./cafe-francoise.otf);
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'MyFont2';
    src: url(./Quesha.ttf);
    font-style: normal;
}

body {
    background-color: rgb(255, 227, 191);
}

h1 {
    text-align: center;
    font-family: 'MyFont';
    letter-spacing: 2.5px;
    font-size: 74px;
}

p {
    text-align: center;
    font-size: 30px;
    letter-spacing: 0.5px;
    font-family: 'MyFont2';
}

.foodImg {
    margin-top: 30px;
    border-radius: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.home, .menu, .contact {
    height: 50px;
    font-size: 26px;
    font-family: 'MyFont2';
    text-align: center;
    margin-top: 18px;
}

.home:hover, .menu:hover, .contact:hover {
    cursor: pointer;
}

.home {
    margin-left: 10px;
}

.contact {
    margin-right: 5px;
}

.tabContainer {
    width: 280px;
    height: 45px;
    border: 1px solid black;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -40px;
}